*{
  margin: 0;
  padding: 0;
}

.table table,tr,th,td{
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}

.table table{
  width: 100%;
}
.table ul{
  list-style-type: disc;
  padding: 10px;
  padding-left: 30px;
}